.container {
    position: relative; 
    text-align: center;
    color: white;
    
}

header {
    padding: 20px;
}

.bannertxt {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 55px;
    font-weight: bold;
    text-shadow: 5px 2px 6px black;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
    

}

h1 {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
} 

#navigation {
    background-color: #fa8743;
    padding: 10px;
    align-items: center;
    height: 40px;
    border-radius: 8px;
    border: 2px solid black;
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    overflow: auto;
    


}


#navigation a{
    color: black;
    text-decoration: underline 1px;
    font-size: 16px;
    transition: color 0.1s ease-in-out;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:25%;
    float: center;
    text-align: center;
}

#navigation a:hover{
    transform: scale(1.03);
    transition: transform 0.1s ease-in-out;
    color: whitesmoke;
    text-decoration: underline 1px white;
}



@media screen and (max-width: 700px) {
    #navigation a{
        display: block;
        float:none;
        width:100%;
        text-align: center;
        
    }

    #navigation {
        background-color: #fa8743;
        padding: 10px;
        align-items: center;
        height: auto;
        border-radius: 8px;
        border: 2px solid black;
        justify-content: space-around;
        display: flex;
        flex-direction: center;
        flex-wrap: wrap;
        align-items: center;
        overflow: auto;
        width: 40%;
        margin: 0 auto;
    }   


}

section {
    padding: 20px;
    margin: 20px 0;
}

#head{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}

.banner-img{
    width: 100%;
    height: 200px;;
    max-height: 500px;
    object-fit: cover;
    border-radius: 8px;
    border : 3px solid black;
}
.outer-box {
    background-color: whitesmoke;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
}

.inner-box {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 9px 24px black;
    width: 95%;
    min-height: 95vh; 
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.description{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    text-justify: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;

}

.home-img{
    width:90vh;
    height:80vh;
    object-fit: cover;
    border-radius: 8px;
    border: 1px solid black;
    display: flex;;
}

.attraction-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 20px 200px 20px 200px;
    padding: 20px;
    height: auto;
    border-radius: 8px;
    border-radius: 12px;
    box-shadow: 0 2px 15px black;
    min-height:50vh;
    
    
    
}

.attraction-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 8px;
    border: 1px solid black;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 7px black;
}

.attraction-img:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.attraction-description {
    font-size: 19px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-shadow: lightgray 1px 1px 1px;
    padding-bottom: none;
    margin-bottom: none;
} 


h2 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    font-size: 29px;
}

.food-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 80px 60px 80px 60px;
    padding: 20px;
    border-radius: 8px;
    border-radius: 12px;
    box-shadow: 0 2px 15px black;
    min-height:33vh;
   
}

.food-description {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-shadow: lightgray 1px 1px 2px;
    padding-left: 100px;
    padding-right: 100px;
    
}

.food-button{
    background-color: #fa8743;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: background-color 0.3s ease-in-out;
}

.food-button:hover {
    background-color: whitesmoke;
}

.photo-gallery-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    align-items: stretch;
    flex:1;

}

.grid-item {
    display:flex;   
    flex: 1;
    object-fit: cover;
    border-radius: 8px;
    border: 3px solid whitesmoke;    
    background: rgba(255,255,255,0.85);
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 2px 7px black;
    position: relative;
    width: 500px;
    height: 600px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden; 
}

.grid-item:hover{
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
}

.caption {
    background-color: #fa8743;
    color: whitesmoke   ;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 10px;
    border: lightgray 1px solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: center;
    padding-top: 16px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;   
    overflow: hidden; 
    flex-direction: column;
    width:30vh;
    height:2vh;
    transform: translateY(-70%);
    z-index: 2;
    font-size:17px;
    flex-wrap: wrap


}
